<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.noir.ai-observatory-curation</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__ROOT_DIR__/scripts/run-automated-curation.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__ROOT_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>12</integer>
    <key>Minute</key>
    <integer>45</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__ROOT_DIR__/.noir/automated-curation.log</string>
  <key>StandardErrorPath</key>
  <string>__ROOT_DIR__/.noir/automated-curation-error.log</string>
</dict>
</plist>
